body {
  width: 1440px;
  margin: 0;
  padding: 0;
  font-size: 14px !important;
  color: #555555 !important;
  background: #fffefe !important;
}
.f-6 {
  font-size: 6px;
}
a {
  text-decoration: none !important;
  color: #555555 !important;
}
ul {
  list-style-type: none;
}
.pointer {
  cursor: pointer;
}
.gray-hover:hover {
  color: #a19a9a;
}
.bg-green {
  background-color: #7ac751 !important;
}
.green {
  color: #7ac751 !important;
}
.light-dark {
  color: rgba(81, 81, 81, 0.71);
}
.light-gray {
  color: #898686;
}
.trend-gray {
  color: #c2c2c2 !important;
}
.bg-gray100 {
  background-color: #f7f8fa;
}
.sideWidth {
  width: 233px;
  height: 420px;
}
.banner-background {
  background: linear-gradient(
    103.4deg,
    rgba(241, 250, 255, 0.88) 0.89%,
    #f1faff 101.61%
  );
  backdrop-filter: blur(77.5px);
  border-radius: 1px;
  height: 415px;
  width: 100%;
}
#banner {
  width: 370px;
}
.access-img {
  width: 80px;
}

.grand-banner-desc,
.child1-banner-desc {
  position: absolute !important;
  top: 0;
}
.child2-banner-desc {
  position: absolute !important;
  bottom: 90px;
}
.card-img-top {
  width: 100% !important;
}

.products-footer input {
  width: 50px;
}
